node_modules/
dist/
*.js.map
homeassistant/config/.storage/
homeassistant/config/home-assistant.log
homeassistant/config/home-assistant_v2.db*
homeassistant/config/.cloud/
homeassistant/config/deps/
homeassistant/config/tts/
